/*Ressetar Estilos*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*A propriedade CSS box-sizing é utilizada para alterar a propriedade padrão da box model, -que indica que o tamanho agora levará em conta até a borda -- ou seja, o width será a soma do conteúdo com a borda e o padding*/
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;;
    min-height: 100vh;
    background-color:rgb(243,243,243) ;
    margin: 0;
    display: flex;/*Isso define um flex container; inline ou bloco dependendo do valor fornecido. Ele permite um contexto flexível para todos os seus filhos diretos.*/
                    /*Observe que as colunas CSS não têm efeito em um flex container.*/
    justify-content: center;

}

.instagram-wrapper{
    display: flex;/*o flex alinha tudo em linha*/
    align-items: center;/*alinhamento vertical dos itens o item fica no centro eixo y*/
    justify-content: start;/*alinhamento vertical dos itens o item fica no centro eixo x*/
    width: 60%;/*tamanho do instagram 60% do body*/
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;/*esta na horizontal*/
    justify-content: space-around;
    flex-direction: column;/*estava como linha e mudamos para coluna- esta na vertical*/
    width: 50%;
    min-height: 34rem;

}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;/*para imagem não exceder , ovverflow que seria ultrapassar ficará escondido*/
}

.profile-photo img {
    height: 6rem;
}


.instagram-login{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}


.instagram-logout{
    color:#0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160,160,160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('../image/apple-button.png');

}

.app-download:nth-child(2) {
    background-image: url('../image/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {/* só vai mostrar o login*/
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}